.modal
    .modal__box
        .modal__title Buyurtmalar ro'yhati
            .soniBox Buyurtma soni : 
                span.soni 0
            .summasiBox Summasi : 
                span.summasi 0 
                span.som  so'm
        .modal__kuryer Yetkazib beruvchi: 
            a(href="tel:+998712005400") +998712005400 
        .exit-div 
            span.modal__exit