.pitsa.theme 
    .container.cont 
        +title 
        .row 
            +card
            +card(true,'pitsa2.png','Mexica', 'qalampir.svg', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '53,000')
            +card('','pitsa3.png','Hot achchiko', 'achiko.svg', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '64,000')
            .hammasi(onclick='alll()') Ko‘proq ko‘rish
            +card(false,'pitsa4.png','Mexica', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '45,000')
            +card(false,'pitsa3.png','Apocalipo', 'qalampir.svg', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '64,000')
            +card(false,'pitsa4.png','Sosiskacho', 'achiko.svg', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '45,000')
            +card(false,'pitsa2.png','Mexica', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '53,000')
        .hidecard(onclick='hide()') Yashirish
.burger.theme 
    .container 
        +title('Burger')
        .row 
            +card(true,'burger.png','Cheeseburger', 'pishloq.svg','Горячая закуска с митболами из говядины, томатами, моцареллой и соусом чипотле','23,000') 
            +card(false,'burger.png','Chili burger','qalampir.svg','Горячая закуска с митболами из говядины, томатами, моцареллой и соусом чипотле','23,000')
            +card(true,'burger.png','','','Горячая закуска с митболами из говядины, томатами, моцареллой и соусом чипотле','23,000')
            +card(false,'burger.png','','','Горячая закуска с митболами из говядины, томатами, моцареллой и соусом чипотле','23,000')
.combo.kombo.theme 
    .container
        +title('Kombo')
        .row
            +card(false,'kombo1.png','Kombo-1', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '25,000')
            +card(false,'kombo2.png','Kombo-2', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '25,000')
            +card(false,'kombo1.png','Kombo-3', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '25,000')
.water.ichimliklar.theme 
    .container
        +title('Ichimliklar')
        .row
            +card(false,'water1.png','Sprite 1L', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '6,000')
            +card(false,'water2.png','Coca cola 1,5L', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '9,000')
            +card(true,'water3.png','Fanta 1L', '', 'Горячая закуска с митболами из говядины, томатами, моцареллой и оусом чипотле', '6,000')