include title.pug
.filtr 
    .container
        .filtr__list 
            .filtr__item.active(data-filter='barchasi') Barchasi
            .filtr__item(data-filter='pitsa') Pitsa
            .filtr__item(data-filter='burger') Burger
            .filtr__item(data-filter='kombo') Kombo
            .filtr__item(data-filter='salat') Salat
            .filtr__item(data-filter='shirinliklar') Shirinliklar
            .filtr__item(data-filter='ichimliklar') Ichimliklar
            button.filtr__btn 
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.14166 2.33338C4.49449 1.33341 5.4396 0.664673 6.49999 0.664673C7.56038 0.664673 8.50549 1.33341 8.85832 2.33338H17.3333V4.00005H8.85832C8.50549 5.00002 7.56038 5.66876 6.49999 5.66876C5.4396 5.66876 4.49449 5.00002 4.14166 4.00005H0.666656V2.33338H4.14166ZM11.5 6.49801C10.4396 6.49801 9.49449 7.16675 9.14166 8.16672H0.666656V9.83338H9.14166C9.49449 10.8333 10.4396 11.5021 11.5 11.5021C12.5604 11.5021 13.5055 10.8333 13.8583 9.83338H17.3333V8.16672H13.8583C13.5055 7.16675 12.5604 6.49801 11.5 6.49801ZM6.49999 12.3313C5.4396 12.3313 4.49449 13.0001 4.14166 14H0.666656V15.6667H4.14166C4.49449 16.6667 5.4396 17.3354 6.49999 17.3354C7.56038 17.3354 8.50549 16.6667 8.85832 15.6667H17.3333V14H8.85832C8.50549 13.0001 7.56038 12.3313 6.49999 12.3313ZM7.33332 3.16671C7.33332 3.62695 6.96023 4.00005 6.49999 4.00005C6.03975 4.00005 5.66666 3.62695 5.66666 3.16671C5.66666 2.70648 6.03975 2.33338 6.49999 2.33338C6.96023 2.33338 7.33332 2.70648 7.33332 3.16671ZM11.5 9.83338C11.9602 9.83338 12.3333 9.46029 12.3333 9.00005C12.3333 8.53981 11.9602 8.16672 11.5 8.16672C11.0398 8.16672 10.6667 8.53981 10.6667 9.00005C10.6667 9.46029 11.0398 9.83338 11.5 9.83338ZM7.33332 14.8334C7.33332 15.2936 6.96023 15.6667 6.49999 15.6667C6.03975 15.6667 5.66666 15.2936 5.66666 14.8334C5.66666 14.3731 6.03975 14 6.49999 14C6.96023 14 7.33332 14.3731 7.33332 14.8334Z" fill="black"/></svg>
                | Filtr