mixin card(olov=true, photo='pitsa1.png', title='Gavaya', icon='pishloq.svg', text='Горячая закуска с митболами из говядины, томатами, моцареллой и соусом чипотле', narx='45,000') 
    .col-6.col-xs-12 
        .card
            .card__img
                if olov 
                    .status
                        img.olov(src='assets/img/olov.svg', alt="")
                img.title-image(src='assets/img/'+photo+'', alt="")
            .card__content 
                .card__title #{title}
                    img(src='assets/img/'+icon+'', alt="")
                .card__text #{text}
                .card__narx #{narx} UZS
                .card__add(data-narx=''+narx+'', onclick='count(this)') 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="white"/></svg>